<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.near">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Near"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Near"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.review.UserReviewListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.review.WriteReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase.PurchaseListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase.PurchaseCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.review.ReviewDetailPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.purchase.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductDetailPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.SmallCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.PassWordModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Payment.EasyPaymentCardAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Payment.EasyPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.ModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.SignActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Near.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>